PORT=5000
# MONGO_URL=mongodb://localhost:27017/librarydb
MONGO_URL=mongodb+srv://mahmdul:mahmudul@cluster0.25avvvq.mongodb.net/librarydb?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mysecretkey
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=587
# SMTP_USER=stamford.university.bd.library@gmail.com
# SMTP_PASS=12345678$Stamford

SMTP_HOST=smtp.mailtrap.io
SMTP_PORT=587
SMTP_USER=160bf389bb0212
SMTP_PASS=0a65f5ba1ea648


# token = 2a0890425453d3c72d610b8e8e5e62d1
# 2a0890425453d3c72d610b8e8e5e62d1